<div navi></div>


<!-- LIGHT SECTION -->
      <section ng-init="getProfileData()" class="lightSection clearfix pageHeader">
        <div class="container">
          <div class="row">
            <div class="col-xs-6">
              <div class="page-title">
                <h2>PROFILE</h2>
              </div>
            </div>
            <div class="col-xs-6">
              <ol class="breadcrumb pull-right">
                <li>
                  <a href="index.html">Home</a>
                </li>
                <li class="active">PROFILE</li>
              </ol>
            </div>
          </div>
        </div>
      </section>

      <!-- MAIN CONTENT SECTION -->
      <section class="mainContent clearfix userProfile">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="btn-group" role="group" aria-label="...">
                <a href="/account-dashboard" class="btn btn-default"><i class="fa fa-th" aria-hidden="true"></i>Account Dashboard</a>
                <a href="/account-profile" class="btn btn-default active"><i class="fa fa-user" aria-hidden="true"></i>Profile</a>
                <a href="/account-address" class="btn btn-default"><i class="fa fa-map-marker" aria-hidden="true"></i>My Address</a>
                <a href="/account-all-orders" class="btn btn-default"><i class="fa fa-list" aria-hidden="true"></i>All Orders</a>
                <a href="/account-wishlist" class="btn btn-default"><i class="fa fa-gift" aria-hidden="true"></i>Wishlist</a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="innerWrapper profile">
                <div class="orderBox">
                  <h4>profile</h4>
                </div>
                <div class="row">
                  <div class="col-md-10 col-sm-9 col-xs-12">
                      <form class="form-horizontal">
                        <div class="form-group">
                          <label for="" class="col-md-2 col-sm-3 control-label">First Name</label>
                          <div class="col-md-10 col-sm-9">
                            <input ng-model="newProfileData.firstName" type="text" class="form-control" id="" placeholder="{{profileInfo.first_name}}">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="" class="col-md-2 col-sm-3 control-label">Last Name</label>
                          <div class="col-md-10 col-sm-9">
                            <input ng-model="newProfileData.lastName" type="text" class="form-control" id="" placeholder="{{profileInfo.last_name}}">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="" class="col-md-2 col-sm-3 control-label">Phone Number</label>
                          <div class="col-md-10 col-sm-9">
                            <input ng-model="newProfileData.phone" type="text" class="form-control" id="" placeholder="">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="" class="col-md-2 col-sm-3 control-label">Email Address</label>
                          <div class="col-md-10 col-sm-9">
                            <input ng-model="newProfileData.email" type="email" class="form-control" id="" placeholder="{{profileInfo.email}}">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="" class="col-md-2 col-sm-3 control-label">New Password</label>
                          <div class="col-md-10 col-sm-9">
                            <input ng-model="newProfileData.newPassword" type="password" class="form-control" id="" placeholder="">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-md-offset-10 col-md-2 col-sm-offset-9 col-sm-3">
                            <button ng-click="updateProfile()" type="submit" class="btn btn-primary btn-block">SAVE INFO</button>
                          </div>
                        </div>
                      </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

<div foot></div>
