<!DOCTYPE html>
<html ng-app="app" lang="en">

<base href="/">

<div ng-view autoscroll></div>

<!-- Vendor JS -->
<script src="/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="/assets/libs/jquery-ui/jquery-ui.js"></script>
<script src="/assets/libs/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/libs/angular/angular.min.js"></script>
<script src="/assets/libs/angular-route/angular-route.min.js"></script>
<script src="/assets/libs/ngstorage/ngStorage.min.js"></script>



<script src="/assets/libs/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="/assets/libs/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script src="/assets/libs/owl-carousel/owl.carousel.js"></script>
<script src="/assets/libs/selectbox/jquery.selectbox-0.1.3.min.js"></script>
<script src="/assets/libs/countdown/jquery.syotimer.js"></script>

<!-- Angular App JS -->
<script src="/app/app.js"></script>
<script src="/app/appRoutes.js"></script>
<script src="/app/ctrl.js"></script>
<script src="/app/directives.js"></script>
<script src="/app/services.js"></script>
