<div navi></div>

<!-- LIGHT SECTION -->
      <section class="lightSection clearfix pageHeader">
        <div class="container">
          <div class="row">
            <div class="col-xs-6">
              <div class="page-title">
                <h2>payment method</h2>
              </div>
            </div>
            <div class="col-xs-6">
              <ol class="breadcrumb pull-right">
                <li>
                  <a href="index.html">Home</a>
                </li>
                <li class="active">payment method</li>
              </ol>
            </div>
          </div>
        </div>
      </section>

<!--       MAIN CONTENT SECTION -->
      <section class="mainContent clearfix stepsWrapper">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="innerWrapper clearfix stepsPage">
                <div class="row progress-wizard" style="border-bottom:0;">

                  <div class="col-xs-3 progress-wizard-step complete fullBar">
                    <div class="text-center progress-wizard-stepnum">Billing &amp; Shipping Address</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="checkout-step-1.html" class="progress-wizard-dot"></a>
                  </div>

                  <div class="col-xs-3 progress-wizard-step complete fullBar">
                    <div class="text-center progress-wizard-stepnum">Shipping Method</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="checkout-step-2.html" class="progress-wizard-dot"></a>
                  </div>

                  <div class="col-xs-3 progress-wizard-step complete fullBar">
                    <div class="text-center progress-wizard-stepnum">Review</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="checkout-step-3.html" class="progress-wizard-dot"></a>
                  </div>

                  <div class="col-xs-3 progress-wizard-step active">
                    <div class="text-center progress-wizard-stepnum">Payment Method</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="checkout-step-4.html" class="progress-wizard-dot"></a>
                  </div>
                </div>

       <div class="col-xs-12 col-md-12">

             <form method="POST" id="payment-form">
                  <span class="payment-errors"></span>
                  <div class="row">
                      <div class="form-group col-sm-4 col-xs-12">
                        <label for="">Card Number</label>
                        <input ng-model="number" type="text" size="2" data-stripe="number" class="form-control" id="">
                      </div>
                  </div>
                  <div class="row">
                      <div class="form-group col-sm-2 col-xs-12">
                        <label for="">Expiration Month (MM)</label>
                        <input ng-model="month" type="text" size="2" data-stripe="exp_month" class="form-control">
                      </div>
                      <div class="form-group col-sm-2 col-xs-12">
                        <label for="">Expiration Year (YY)</label>
                        <input ng-model="year" type="text" size="2" data-stripe="exp_year" class="form-control">
                      </div>
                  </div>
                  <div class="row">
                      <div class="form-group col-sm-4 col-xs-12">
                        <label for="">CVC</label>
                        <input ng-model="cvc" type="text" size="2" data-stripe="cvc" class="form-control" id="">
                      </div>
                  </div>
                </form>
                <div class="row">
                <div class="col-xs-12">

                  <div class="well well-lg clearfix">
                    <ul class="pager">
                    <li class="previous"><a href="/checkout-step-3">Back</a></li>
                      <li class="next "><a class="pointer" ng-click="completeCheckout()">Confirm</a></li>
                    </ul>
                  </div>
                </div>
                </div>

        </div>


              </div>
            </div>
          </div>
        </div>
      </section>

<div class="container">
    <div class="row">
        <!-- You can make it whatever width you want. I'm making it full width
             on <= small devices and 4/12 page width on >= medium devices -->


    </div>
</div>


<div foot></div>
